.footer {
    margin:0;
    /*padding:10px;*/
    height:100%;
    left: 0;
    /*top: 10px;
*/    width: 100%;
    /* background-color:grey; */
    color: black;
    text-align: center;
    margin-bottom:0px;
    position:static;
}
