<app-header></app-header>
<br>

<div class="card-deck">
  	<div class="card">
    	<img class="card-img-top" src="../../assets/aks.png" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Azure Kubernetes Service</h5>
                <a href="https://github.com/soumianisoumya/groupWork.git" type="button" class="btn btn-outline-success">Visit</a>
      
    	</div>
  	</div>
  	<div class="card">
    	<img class="card-img-top" src="../../assets/eks.png" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Elastic Container Service</h5>
                <a href="https://github.com/soumianisoumya/groupWork.git" type="button" class="btn btn-outline-success">Visit</a>
    	</div>
  	</div>
  
</div>

