<app-header></app-header>
<br>

<br><br>
 <h1 class="display-4" style="font-weight:bolder;padding-left:15px">DevOps Accelerators</h1>
<br>


<div class="card-deck" style="padding:15px">
	 <div class="card border-secondary bg-light mb-0">
    		<img src="../../assets/packer.png" class="card-img-top" alt="...">
    		<div class="card-body">
      			<h5 class="card-title">Pipeline using Terraform and packer</h5>
      			<p class="card-text">The accelerator uses jenkins as an orchestrator and Terraform and packer as Iaac.It also uses docker to deploy a simple web application</p>
      			<a href="https://github.com/soumianisoumya/groupWork.git" type="button" class="btn btn-outline-success">Visit</a>
      		</div>
 	 </div>

	  <div class="card border-secondary bg-light mb-0">
    		<img src="../../assets/openshift.png" class="card-img-top" alt="...">
    		<div class="card-body">
      			<h5 class="card-title">Deploy war file using Open-shift and Helm chart</h5>
      			<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
       			<button class="btn btn-outline-success" routerLink="/acclopenshift">Visit</button>
     	       </div>
  	</div>

 <div class="card border-secondary bg-light mb-0">
  	  <img src="../../assets/terraform.png" class="card-img-top" alt="...">
          <div class="card-body">
        	<h5 class="card-title">Accelerator-3</h5>
     		 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
 		<button class="btn btn-outline-success" routerLink="/acclkube">Visit</button>
         </div>
 </div>

<br><br><br>
<br>
