<app-header></app-header>
<br>


<div class="card-deck">
  	<div class="card">
    	<img class="card-img-top" src="../../assets/helm-logo.png" alt="Card image cap">
	<div class="card-body">
		<h5 class="card-title">Helm Charts</h5>
                <a href="https://github.com/soumianisoumya/groupWork.git" type="button" class="btn btn-outline-success">Visit</a>
            
    	</div>
  	</div>
  	<div class="card">
    	<img class="card-img-top" src="../../assets/istio-logo.png" alt="Card image cap">
	<div class="card-body">

		<h5 class="card-title">Istio</h5>
                <a href="https://github.com/soumianisoumya/groupWork.git" type="button" class="btn btn-outline-success">Visit</a>

        </div>
        </div>
 <div class="card">
        <img class="card-img-top" src="../../assets/OpenShift-Logo.png" alt="Card image cap">
        <div class="card-body">

                <h5 class="card-title">OpenShift</h5>
                <a href="https://github.com/soumianisoumya/groupWork.git" type="button" class="btn btn-outline-success">Visit</a>

        </div>
        </div>

</div>
